/* Phoenix flash messages */
.alert:empty { display: none; }

body.landing {
  padding-top: 40px;
}

body.dashboard {

  nav.navbar .navbar-brand {
    padding: 0px;
    img {
      height: 50px;
    }
  }

  .events-triage {
    margin-top: 40px;

    .calendar-view {

    }

    .group-view {
    }
  }
}